@using Newtonsoft.Json;
@{
    ViewData["Title"] = "จัดการผู้รับเหมา";
}
<form style="display: none;" id="search" method="get" action="@Url.Action("Index", "Contractor")">
    <input type="hidden" id="Query" name="Query" />
    <input type="hidden" id="Page" name="Page" />
    <input type="hidden" id="PageSize" name="PageSize" />
</form>
<div class="d-flex justify-content-end ">
    <button type="button" class="btn btn-warning" onclick="addClick();" data-bs-toggle="modal" data-bs-target="#add-modal">
        <i class="fa fa-plus"> &nbsp;เพิ่มผู้รับเหมา</i>
    </button>
</div><br />
<table class="table table-hover align-middle">
    <thead>
        <tr>
            <th>ลำดับ</th>
            <th>ดำเนินการ</th>
            <th>ชื่อผู้รับเหมา</th>
            <th>ที่อยู่</th>
            <th>จังหวัด</th>
            <th>เบอร์โทรศัพท์</th>
            <th>Email</th>
            <th>เลขผู้เสียภาษี</th>
            <th>ประเภท</th>
            <th>ชื่อกรรมการ</th>
        </tr>
    </thead>
    <tbody>
@if (Model != null)
{
    int i = ((Model.Page - 1) * Model.PageSize) + 1;
    @foreach (var contractor in Model.Contractors)
    {
        <tr>
            <td>@i</td>
            @if (!contractor.CanDelete)
            {
                <td>
                    <span class="material-symbols-outlined" style="color:#0752AE;" onclick="editClick(@contractor.Id);" data-bs-toggle="modal" data-bs-target="#edit-modal">edit</span>
                </td>
            }
            else
            {
                <td>
                    <span class="material-symbols-outlined" style="color:#0752AE;" onclick="editClick(@contractor.Id);" data-bs-toggle="modal" data-bs-target="#edit-modal">edit</span>
                    <span class="material-symbols-outlined" style="color:#A42206;" onclick="deleteClick(@contractor.Id, '@contractor.Name');" data-bs-toggle="modal" data-bs-target="#delete-modal">delete</span>
                </td>
            }
            <td>@contractor.Name</td>
            <td>@contractor.Address</td>
            <td>@contractor.ProvinceName</td>
            <td>@contractor.PhoneNo</td>
            <td>@contractor.Email</td>
            <td>@contractor.TaxNo</td>
            <td>@contractor.Type</td>
            <td>@contractor.DirectorName</td>
        </tr>
        i++;
    }
}
    </tbody>
</table>
<div class="pagina-container" id="pagina"></div>
@if (Model != null)
{
    <p>Total Contractors : @Model.TotalCount</p>
}
else
{
    <p>Total Contractors : 0</p>
}

<div id="add-modal" class="modal">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color:#ae6378;color:white;">
                <h4 class="modal-title"><b>เพิ่มผู้รับเหมา</b></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row row-cols-1 row-cols-lg-2">
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">ชื่อผู้รับเหมา</span>
                            <input type="text" class="form-control" id="add_name" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">เลขผู้เสียภาษี</span>
                            <input type="text" class="form-control" id="add_taxno" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">เบอร์โทรศัพท์</span>
                            <input type="text" class="form-control" id="add_phone" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Email</span>
                            <input type="text" class="form-control" id="add_email" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">ที่อยู่</span>
                            <textarea class="form-control" id="add_address" aria-describedby="basic-addon1"></textarea>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">จังหวัด</span>
                            <select class="form-select" id="add_province" name="edit_province">
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">ประเภท</span>
                            <input type="text" class="form-control" id="add_type" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">ชื่อกรรมการ</span>
                            <input type="text" class="form-control" id="add_directorname" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                <button type="button" id="add_btn" class="btn btn-success">บันทึก</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="edit_id" />
<div id="edit-modal" class="modal">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color:#ae6378;color:white;">
                <h4 class="modal-title"><b>แก้ไขผู้รับเหมา</b></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row row-cols-1 row-cols-lg-2">
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">ชื่อผู้รับเหมา</span>
                            <input type="text" class="form-control" id="edit_name" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">เลขผู้เสียภาษี</span>
                            <input type="text" class="form-control" id="edit_taxno" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">เบอร์โทรศัพท์</span>
                            <input type="text" class="form-control" id="edit_phone" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Email</span>
                            <input type="text" class="form-control" id="edit_email" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">ที่อยู่</span>
                            <textarea class="form-control" id="edit_address" aria-describedby="basic-addon1"></textarea>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">จังหวัด</span>
                            <select class="form-select" id="edit_province" name="edit_province">
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">ประเภท</span>
                            <input type="text" class="form-control" id="edit_type" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">ชื่อกรรมการ</span>
                            <input type="text" class="form-control" id="edit_directorname" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                <button type="button" id="edit_btn" class="btn btn-success">บันทึก</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="delete_id" />
<div id="delete-modal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color:#ae6378;color:white;">
                <h4 class="modal-title"><b>ลบผู้รับเหมา</b></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="delete_text" class="row row-cols-1 row-cols-lg-2">
                    ท่านต้องการลบผู้รับเหมา ใช่หรือไม่ ?
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                <button type="button" id="delete_btn" class="btn btn-success">บันทึก</button>
            </div>
        </div>
    </div>
</div>
                    
<script type="text/javascript">
var model = @Html.Raw(JsonConvert.SerializeObject(Model));
var currentPage = model.Page;
var baseUrl = @Html.Raw("\'" + Url.Action("Index", "Home") + "\'");
baseUrl = baseUrl + (baseUrl == '/' ? 'contractor/' : '/contractor/');
</script>
<script type="text/javascript" src="~/js/contractor.js"></script>
