@using Newtonsoft.Json;
@{
    ViewData["Title"] = "ตรวจสอบสั่งสินค้า";
}
<div class="container-fluid" style="background-color:#fcfcfc">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <div class="input-group mb-3">
                <label class="input-group-text" for="ProjectId"><b>ชื่อโครงการ</b></label>
                <select class="form-select" id="ProjectId" name="ProjectId">
                    <option value="0" selected>ทั้งหมด</option>
                    @if (Model != null)
                    {
                        @foreach (var item in Model.Projects)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <label class="input-group-text" for="PrNo"><b>เลขที่ PR</b></label>
                <select class="form-select" id="PrNo">
                    <option selected>ทั้งหมด</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <label class="input-group-text" for="RequesterId"><b>ผู้สั่งสินค้า</b></label>
                <select class="form-select" id="RequesterId">
                    <option value="0" selected>ทั้งหมด</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <label class="input-group-text" for="Status"><b>สถานะสินค้า</b></label>
                <select class="form-select" id="Status">
                    <option selected>ทั้งหมด</option>
                    <option>รอตรวจสอบสั่งสินค้า</option>
                    <option>สั่งสินค้า</option>
                    <option>รอสั่งซื้อ</option>
                    <option>รอสินค้าจัดส่ง</option>
                    <option>จัดส่งสำเร็จ</option>
                </select>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center ">
        <button type="button" id="search_btn" class="btn btn-outline-success"><i class="fa fa-search"> &nbsp;ค้นหา</i></button>
    </div>

    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#All">ทั้งหมด</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-center" id="wait_tab" data-bs-toggle="tab" href="#Approve">สั่งสินค้า</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-center" id="cancel_tab" data-bs-toggle="tab" href="#Cancel">ยกเลิก</a>
        </li>
    </ul>


    <div class="tab-content">
        <!-- Tab panes All-->
        <div id="All" class="container-fluid tab-pane active">
            <br>
            <div class="col-12 p-3" style="overflow-x:auto;">
                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">ลำดับ</th>
                            <th scope="col" colspan="2">ดำเนินการ</th>
                            <th scope="col">โครงการ</th>
                            <th scope="col">เลขที่ PR</th>
                                <th scope="col">วันที่สั่งสินค้า</th>
                            <th scope="col">หักผู้รับเหมา</th>
                            <th scope="col">ผู้รับเหมา</th>
                            <th scope="col">ผู้สั่งสินค้า</th>
                            <th scope="col">ผู้ตรวจสอบสั่งสินค้า</th>
                            <th scope="col">ลำดับสินค้า</th>
                            <th scope="col">รายการสินค้า</th>
                            <th scope="col">จำนวน</th>
                            <th scope="col">หน่วย</th>
                            <th scope="col">วันที่ต้องการส่งมอบ</th>
                            <th scope="col">แพลนของเข้า</th>
                            <th scope="col">จุดประสงค์</th>
                            <th scope="col">หมายเหตุสินค้า</th>
                            <th scope="col">สถานะสินค้า</th>
                        </tr>
                    </thead>
                    <tbody id="all_table">
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Tab panes Approve-->
        <div id="Approve" class="container-fluid tab-pane fade">
            <br>
            <div class="col-12 p-3" style="overflow-x:auto;">
                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">ตรวจสอบสั่งสินค้า</th>
                            <th scope="col">ลำดับ</th>
                            <th scope="col" colspan="2">ดำเนินการ</th>
                            <th scope="col">โครงการ</th>
                            <th scope="col">เลขที่ PR</th>
                                <th scope="col">วันที่สั่งสินค้า</th>
                            <th scope="col">หักผู้รับเหมา</th>
                            <th scope="col">ผู้รับเหมา</th>
                            <th scope="col">ผู้สั่งสินค้า</th>
                            <th scope="col">ผู้ตรวจสอบสั่งสินค้า</th>
                            <th scope="col">ลำดับสินค้า</th>
                            <th scope="col">รายการสินค้า</th>
                            <th scope="col">จำนวน</th>
                            <th scope="col">หน่วย</th>
                            <th scope="col">วันที่ต้องการส่งมอบ</th>
                            <th scope="col">แพลนของเข้า</th>
                            <th scope="col">จุดประสงค์</th>
                            <th scope="col">หมายเหตุสินค้า</th>
                            <th scope="col">สถานะสินค้า</th>
                        </tr>
                    </thead>
                    <tbody id="wait_table">
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Tab panes Cancel-->
        <div id="Cancel" class="container-fluid tab-pane fade">
            <br>
            <div class="col-12 p-3" style="overflow-x:auto;">
                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">ลำดับ</th>
                            <th scope="col">โครงการ</th>
                            <th scope="col">เลขที่ PR</th>
                                <th scope="col">วันที่สั่งสินค้า</th>
                            <th scope="col">หักผู้รับเหมา</th>
                            <th scope="col">ผู้รับเหมา</th>
                            <th scope="col">ผู้สั่งสินค้า</th>
                            <th scope="col">ผู้ตรวจสอบสั่งสินค้า</th>
                            <th scope="col">ลำดับสินค้า</th>
                            <th scope="col">รายการสินค้า</th>
                            <th scope="col">จำนวน</th>
                            <th scope="col">หน่วย</th>
                            <th scope="col">วันที่ต้องการส่งมอบ</th>
                            <th scope="col">แพลนของเข้า</th>
                            <th scope="col">จุดประสงค์</th>
                            <th scope="col">หมายเหตุสินค้า</th>
                            <th scope="col">สถานะสินค้า</th>
                        </tr>
                    </thead>
                    <tbody id="cancel_table">
                    </tbody>
                </table>
            </div>
        </div>
        <br>
    </div>

    <!-- The Modal ActionApproveOrder -->
    <div class="modal" id="ActionApproveOrder">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" style="background-color:#ae6378;color:white;">
                    <h4 class="modal-title"><b>รายละเอียดการสั่งสินค้า</b></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row row-cols-1 row-cols-lg-2">
                        <div class="col">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="ProjectName">ชื่อโครงการ</label>
                                <select class="form-select" id="edit_project" disabled>
                                    @if (Model != null)
                                    {
                                        @foreach (var item in Model.Projects)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">เลขที่ PR</span>
                                <input type="text" class="form-control" id="edit_pr_no" aria-describedby="basic-addon1" disabled>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    <input type="checkbox" id="edit_advance_pay" disabled>
                                </div>
                                <span class="input-group-text" id="basic-addon1">หักผู้รับเหมา</span>
                                <span class="input-group-text" for="ProjectName">ผู้รับเหมา</span>
                                <select class="form-select" id="edit_contractor" disabled>
                                </select>
                            </div>
                        </div>
                        <div class="col"></div>
                        <h6><b>เอกสารอ้างอิงสั่งสินค้า</b></h6>
                        <div class="col-12">
                            <div class="form-group">
                                <div class="file-loading">
                                    <input id="edit_files" class="file" type="file" multiple data-preview-file-type="any" data-upload-url="#" readonly="true">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 p-3" style="overflow-x:auto;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">ลำดับ</th>
                                        <th scope="col">รายการสินค้า</th>
                                        <th scope="col">จำนวน</th>
                                        <th scope="col">หน่วย</th>
                                        <th scope="col">วันที่ต้องการส่งมอบ</th>
                                        <th scope="col">จุดประสงค์</th>
                                        <th scope="col">หมายเหตุสินค้า</th>
                                    </tr>
                                </thead>
                                <tbody id="edit_detail_table">
                                </tbody>
                            </table>
                        </div>
                        <h6><b>เอกสารอ้างอิงตรวจสอบสั่งสินค้า</b></h6>
                        <div class="col-12">
                            <div class="form-group">
                                <div class="file-loading">
                                    <input id="edit-_approve_files" class="file" type="file" multiple data-preview-file-type="any" data-upload-url="#">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    <button type="button" class="btn btn-success" id="edit_pr_btn">บันทึก</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ///////////////// -->
    <input type="hidden" id="approve_id" />
    <!-- The Modal ActionConfirm-->
    <div class="modal" id="ActionConfirm">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">ตรวจสอบสั่งสินค้า</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="pr_approve_text">
                    ท่านต้องการยืนยันตรวจสอบสั่งสินค้า เลขที่
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    <button type="button" class="btn btn-success" id="approve_btn">ยืนยันตรวจสอบสั่งสินค้า</button>
                </div>

            </div>
        </div>
    </div>
    <!-- ///////////////// -->
    <input type="hidden" id="cancel_id" />
    <!-- The Modal ActionCancel-->
    <div class="modal" id="ActionCancel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">ยกเลิกการสั่งสินค้า</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="pr_cancel_text">
                    ท่านต้องการยกเลิกการสั่งสินค้า เลขที่
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    <button type="button" class="btn btn-danger" id="cancel_btn">ยืนยันยกเลิก</button>
                </div>

            </div>
        </div>
    </div>
    <!-- ///////////////// -->
    <input type="hidden" id="cancel_read_id" />
    <!-- The Modal ActionApproveCancel-->
    <div class="modal" id="ActionApproveCancel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">รับทราบการยกเลิกการสั่งสินค้า</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="cancel_read_text">
                    ท่านรับทราบการยกเลิกการสั่งสินค้า เลขที่
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    <button type="button" class="btn btn-danger" id="read_pr_btn">ตกลง</button>
                </div>

            </div>
        </div>
    </div>
    <!-- ///////////////// -->
</div>
<script>
    var model = @Html.Raw(JsonConvert.SerializeObject(Model));
    var baseUrl = @Html.Raw("\'" + Url.Action("Index", "Home") + "\'");
    baseUrl = baseUrl + (baseUrl == '/' ? 'api/pr/' : '/api/pr/');
</script>
<script type="text/javascript" src="~/js/pr-approver.js"></script>