@using Newtonsoft.Json;
@if (Model == null)
{
    <script>location.href = '~/';</script>
}
@if (Model != null)
{
    if (!string.IsNullOrWhiteSpace(Model.Message))
    {
        <span style="color:red;font-size:smaller;">@Model.Message</span>
        <br />
    }
    <button type="button" onclick="addClick();" data-bs-toggle="modal" data-bs-target="#add-modal">Add</button>
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th>ลำดับ</th>
                <th>ดำเนินการ</th>
                <th>Username</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1; }
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@i</td>
                    <td>
                        <span class="material-symbols-outlined" style="color:#0752AE;" onclick="editClick(@user.Id);" data-bs-toggle="modal" data-bs-target="#edit-modal">edit</span>
                        <span class="material-symbols-outlined" style="color:#A42206;" onclick="deleteClick(@user.Id, '@user.Username');" data-bs-toggle="modal" data-bs-target="#delete-modal">delete</span>
                    </td>
                    <td>@user.Username</td>
                    <td>@user.Fullname</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
    <div class="pagina-container" id="pagina"></div>
    <p>Total users : @Model.TotalCount</p>

    <div id="add-modal" class="modal">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" style="background-color:#ae6378;color:white;">
                    <h4 class="modal-title"><b>รายละเอียดการสั่งของ</b></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row row-cols-1 row-cols-lg-2">

                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                    <button type="button" class="btn btn-success">บันทึก</button>
                </div>
            </div>
        </div>
    </div>
    <div id="edit-modal" class="modal">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" style="background-color:#ae6378;color:white;">
                    <h4 class="modal-title"><b>รายละเอียดการสั่งของ</b></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row row-cols-1 row-cols-lg-2">

                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                    <button type="button" class="btn btn-success">บันทึก</button>
                </div>
            </div>
        </div>
    </div>
    <div id="delete-modal" class="modal">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header" style="background-color:#ae6378;color:white;">
                    <h4 class="modal-title"><b>รายละเอียดการสั่งของ</b></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row row-cols-1 row-cols-lg-2">

                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ยกเลิก</button>
                    <button type="button" class="btn btn-success">บันทึก</button>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
var model = @Html.Raw(JsonConvert.SerializeObject(Model));
var currentPage = model.Page;
function addClick() {
    // clear data from modal
    // show modal
}
function editClick(id) {
    console.log(id);
    // call get user detail
    // set data to modal
    // show modal
}
function deleteClick(id, username) {
    console.log(id, username);
    // call delete user
}
$(document).ready(function() {
    $('#pagina').pagination({
        dataSource: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        pageSize: 2,
        showGoInput: true,
        showGoButton: true,
        callback: function (data, pagination) {
            console.log(data, pagination);
            // var html = template(data);
            // dataContainer.html(html);
        }
    });
});
</script>